# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

In [255]:
import numpy as np
import pandas as pd
nba = pd.read_csv('nbastats2018-2019.csv', sep = ',')
nba

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,Trae Young,74,180,Atlanta Hawks,20,5356440,19.1,0.2,0.9,8.1,...,30.9,81,17.0,2.5,0.7,3.3,0.062,28.4,-1.1,0.6
517,Cody Zeller,84,240,Charlotte Hornets,26,13528090,10.1,0.8,0.8,2.1,...,25.4,49,17.2,2.6,1.2,3.9,0.150,16.3,2.0,1.2
518,Tyler Zeller,84,253,Atlanta Hawks,29,106974,7.7,0.5,0.2,0.7,...,15.5,6,17.3,0.2,0.1,0.3,0.167,20.1,-2.2,0.0
519,Ante Zizic,83,254,Cleveland Cavaliers,22,1952760,7.8,0.4,0.2,0.9,...,18.3,59,16.2,1.7,0.3,2.0,0.087,18.2,-3.1,-0.3
520,Ivica Zubac,85,240,Los Angeles Clippers,21,1544951,8.9,0.9,0.2,1.1,...,17.6,59,18.9,1.9,1.3,3.2,0.148,20.3,-0.3,0.5

# What was the average age of player in the league?

In [139]:
nba['Age'].mean()

25.900191938579656

# What player scored the most points?

In [148]:
nba[nba['Points'] == nba['Points'].max()]['Name']

202    James Harden
Name: Name, dtype: object

# What player had the most blocks during the season? Was it a post player (F/C)?

In [180]:
nba[nba['Blocks'] == nba['Blocks'].max()]['Name']

476    Myles Turner
Name: Name, dtype: object

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [205]:
nba[nba['WS'] == nba['WS'].max()][['Name', 'WS']]

             Name    WS
202  James Harden  15.2

# What player had the best 3-pt percentage?

In [206]:
nba[nba['FG3%'] == nba['FG3%'].max()][['Name','FG3%']]

              Name  FG3%
147   Trevon Duval   1.0
312  Scott Machado   1.0
352  Eric Moreland   1.0
439  Jordan Sibert   1.0

# Who played the most minutes during the season

In [202]:
nba[nba['MP'] == nba['MP'].max()][['Name','MP']]

             Name    MP
37   Bradley Beal  36.9
179   Paul George  36.9

# What player given their player effiecency rating was the clutchest during the season?

In [207]:
nba[nba['PER'] == nba['PER'].max()][['Name','PER']]

        Name   PER
405  Zhou Qi  80.4

# What team had the youngest roster?

In [254]:
teams = nba['Team']
youngest = {}
for team in teams:
    youngest[team] = nba[(nba['Age'] <= 22) & (nba['Team'] == team)][['Age']].count()
youngest

print('Phoenix Suns')

Phoenix Suns

# Who is the highest paid player during the seasion?

In [209]:

salary = nba.loc[(nba["Salary"] != "-") & (nba['Salary'])][['Name','Salary']]
salary.Salary = salary.Salary.astype(float)

salary.sort_values(by = 'Salary', ascending = False).head(1)

              Name      Salary
121  Stephen Curry  37457154.0

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [201]:
nba[nba['FT%'] == nba['FT%'].min()][['Name', 'FT%']]

                   Name  FT%
154         Jacob Evans  0.0
221   Haywood Highsmith  0.0
268      Terrence Jones  0.0
325      Tahjere McCall  0.0
356  Donatas Motiejunas  0.0
360         Dzanan Musa  0.0
502       C.J. Williams  0.0